/* ==================== FONTS ==================== */

/* Codec Pro Variable Font */
/* Font files are not available - using fallback fonts from CSS variables */
/*
@font-face {
    font-family: 'Codec Pro Variable';
    src: url('../../assets/fonts/CodecPro-Variable.woff2') format('woff2'),
         url('../../assets/fonts/CodecPro-Variable.woff') format('woff'),
         url('../../assets/fonts/CodecPro-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Pro Variable';
    src: url('../../assets/fonts/CodecPro-VariableItalic.woff2') format('woff2'),
         url('../../assets/fonts/CodecPro-VariableItalic.woff') format('woff'),
         url('../../assets/fonts/CodecPro-VariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
*/






